body{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
    text-align: center;
    margin: 5%;
    border: 1px lightgray solid;
}


#list-title{
    font-style: italic;
}
#main-page{
    margin: 3% 15% 2% 15%;
    text-align: left;
}

.main-content{
    margin: 5%;
    line-height: 1.5;
}

.list-container{
    margin: 2%;
}
.list-elements{
    margin: 2%;
}

#title{
    font-size: 250%;
    margin-top: 10%;    
}

#title-statement{
    color: #3370A6;
    font-size: 110%;
    margin: 0 auto;
}
.main-text{
    margin-top: 3%;
}

.titlehead{
    text-align: center;
    border-bottom: 2px solid lightgrey;
    letter-spacing: .2rem;
}

#footer{
    margin: 5%;
}

#logo-footer{
    width: 15%;
    text-align: center;
}


.dark{
    background-color: #333;
    color: white;
}

.dark h2{
    color: #006EB6;
}